body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    max-width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .ull {
    display: flex;
    list-style: none;
    font-size: 18px;
}

header nav .ull .lii {
    margin-right: 20px;
}

header nav .ull .lii a {
    text-decoration: none;
}

header nav .ull .lii a:hover {
    background-color: aliceblue;
    border-radius: 15px;
}

#menu-trigger {
    position: relative;
}

#menu-trigger img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#menu-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #3498db;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menu-trigger:hover #menu-dropdown {
    display: block;
}

.hide {
    display: none !important;
}

h1,
h2,
h3,
p,
ul,
li,
form {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 370px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

label {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #333;
}

button.btn-add {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.btn-add:hover {
    background-color: #45a049;
}

.li-container {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}

.li-container ul {
    padding: 0;
}

.li-container li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

.li-container li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
}

.btnEdit {
    margin-left: auto;
    border: none;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
}

.btn-add {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
}

.btn-add:hover {
    cursor: pointer;
    background-color: darkcyan;
}

.btn-update {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: #4CAF50;
    font-size: 1.4rem;
    outline: none;
}

.btn-update:hover {
    cursor: pointer;
    background-color: #45a049;
}

.btnEdit {
    background-color: #45a049;
    border: none;
}

.empty {
    color: darkslategrey;
}

@media screen and (max-width: 768px) {
    header nav .ull {
        flex-direction: column;
        align-items: center;
    }

    header nav .ull .lii {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search form input[type="text"] {
        flex: 100%;
        margin-right: 0;
    }

    .search form label {
        flex: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    button.btn-add,
    button.btn-update {
        flex: 100%;
        margin-top: 10px;
    }

    .hide {
        display: none;
    }

    .container {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }

    .li-container li p {
        padding: 10px;
    }

    .search form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search form input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .search form label {
        display: flex;
        align-items: center;
        color: #333;
        margin-bottom: 10px;
    }

    button.btn-add,
    button.btn-update {
        width: 100%;
        margin-top: 10px;
    }
}